body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
button {
  border: 0;
}
img {
  display: block;
}
a,
button {
  cursor: pointer;
}
a {
  display: block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  padding-left: 150px;
  padding-bottom: 0;
  margin-top: 31px;
}
.header__menu {
  display: flex;
}
.logotype__link {
  display: block;
  margin-right: 35px;
}
.header__list-menu {
  display: flex;
}
.navigation__item {
  margin-top: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}
.header__button {
  width: 155px;
  height: 46px;
  background: #dc780b;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 15px;
  margin-left: 418px;
}
.header__button:active {
  background-color: #ffffff;
  border: 1.5px solid #dc780b;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #dc780b;
}
.header__button:hover {
  background-color: #ffffff;
  border: 1.5px solid #dc780b;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #dc780b;
}
.navigation__link-link {
  text-decoration: none;
  color: #150c01;
  opacity: 0.6;
}
.navigation__link-link:hover {
  color: #dc780b;
  opacity: 1;
}
.navigation__link-link:active {
  color: #dc780b;
  opacity: 1;
}
h1 {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 48.83px;
  line-height: 58px;
  color: #150c01;
  width: 555px;
  margin-bottom: 42px;
}
.hero {
  padding-top: 174px;
  padding-bottom: 115px;
}
.hero__paragraf {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #150c01;
  opacity: 0.7;
  width: 555px;
  margin-bottom: 50px;
}
.hero__button-order {
  width: 158px;
  height: 60px;
  left: 150px;
  top: 532px;

  background: #dc780b;
  border-radius: 5px;
  margin-right: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.hero__button-food {
  width: 158px;
  height: 60px;
  left: 150px;
  top: 532px;

  background: #dc780b;
  border-radius: 5px;
  margin-right: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.hero__button-order:hover {
  background-color: #ffffff;
  border: 1.5px solid #dc780b;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #dc780b;
}
.hero__button-order:active {
  background-color: #ffffff;
  border: 1.5px solid #dc780b;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #dc780b;
}
.hero__button-food:hover {
  background-color: #ffffff;
  border: 1.5px solid #dc780b;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #dc780b;
}
.hero__button-food:active {
  background-color: #ffffff;
  border: 1.5px solid #dc780b;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #dc780b;
}
.hero {
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
.features__paragraf {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
  margin-bottom: 7px;
  margin-left: 520px;
}
.features__title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 24px;
  color: #150c01;
  margin-bottom: 44px;
  margin-left: 394px;
}
.features__list {
  display: flex;
}
.features__svg-container-f {
  background: rgba(143, 166, 50, 0.1);
  width: 88px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 33px;
  margin-left: 106px;
}
svg {
  display: block;
}
.features__svg-container-c {
  background: rgba(230, 77, 46, 0.1);
  width: 88px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 33px;
  margin-left: 106px;
}
.features__svg-container-t {
  background: rgba(220, 120, 11, 0.1);
  width: 88px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 33px;
  margin-left: 106px;
}
h4 {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  color: #150c01;
  margin-left: 80px;
  margin-bottom: 15px;
}
.features__thumb {
  padding-left: 30px;
}
.features__paragraf-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #150c01;
  opacity: 0.7;
  margin-right: 90px;
  width: 300px;
}
.about {
  padding-top: 109px;
  padding-bottom: 116px;
}
.about__thumb {
  display: flex;
  margin-right: 150px;
}
.about__img {
  margin-right: 98px;
  border-radius: 35px;
}
.about__label {
  margin-top: 108px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
  margin-bottom: 10px;
}
.about__title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 41px;
  color: #150c01;
  margin-bottom: 30px;
  width: 487px;
}
.about__paragraf {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #150c01;
  opacity: 0.7;
  margin-bottom: 29px;
  width: 487px;
  text-align: left;
}
.about__button {
  width: 155px;
  height: 46px;
  background: #dc780b;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.about__button:active {
  background-color: #ffffff;
  border: 1.5px solid #dc780b;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #dc780b;
}
.about__button:hover {
  background-color: #ffffff;
  border: 1.5px solid #dc780b;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #dc780b;
}
.menu__thumb {
  padding-right: 150px;
}
.menu__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
  margin-bottom: 9px;
}
.menu__header {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 24px;
  color: #150c01;
  text-align: center;
  margin-bottom: 25px;
}
.menu__paragraf {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #150c01;
  opacity: 0.7;
  width: 748px;
  margin-bottom: 60px;
}
.menu__paragraf-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__img {
  border-radius: 22% 3% 30% 0%;
}
.menu__title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  color: #150c01;
  margin-top: 21px;
  margin-bottom: 20px;
  padding-left: 25px;
}
.menu__price {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  color: #150c01;
  display: block;
  margin-top: 21px;
  padding-right: 25px;
}
.menu__item_thumb {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  width: 360px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 75px 10px 10px 10px;
  margin-right: 30px;
}
// // .menu__item:nth-child(3n) {
// //   margin-right: 0;
// // }
// // .menu__item:last-child {
// //   margin-right: 0;
// }
.menu__item {
  margin-bottom: 30px;
}
.menu__paragraf-text {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #150c01;
  opacity: 0.7;
  margin-bottom: 20px;
}
.menu__button-item {
  background: rgba(220, 120, 11, 1);
  color: #ffffff;
  width: 36px;
  height: 34px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 186px;
  border-radius: 5px;
}
.menu__button-thumb {
  display: flex;
}
.menu__button {
  width: 155px;
  height: 46px;
  background: #dc780b;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.menu__button:hover {
  background-color: #ffffff;
  border: 1.5px solid #dc780b;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #dc780b;
}
.menu__button:active {
  background-color: #ffffff;
  border: 1.5px solid #dc780b;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #dc780b;
}
.menu__button-thumb-l {
  display: flex;
  justify-content: center;
  margin-bottom: 187px;
}
.take {
  padding-left: 247px;
  background: rgba(251, 241, 231, 0.4);
}
.take__paragraf {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
  margin-bottom: 5px;
  margin-top: 114px;
}
.container__take {
  display: flex;
  z-index: 0;
  height: 518px;
}
.take__container-text {
  width: 555px;
  margin-right: 70px;
}
.take__img {
  bottom: 67px;
  position: relative;
  z-index: 1;
  width: 323.14px;
  height: 651px;
  box-shadow: 5px 5px 15px 5px rgba(251, 241, 231, 1);
  border-radius: 17% 17% 17% 17%;
}
.take__title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 41px;
  color: #150c01;
  margin-bottom: 29px;
}
.take__paragraf-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #150c01;
  opacity: 0.7;
  margin-bottom: 39px;
}
.take__button-f {
  background: #150c01;
  border-radius: 5px;
  width: 163px;
  height: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.take__button-c {
  background: rgba(251, 241, 231, 0.1);
  border: 1.5px solid rgba(21, 12, 1, 0.1);
  border-radius: 5px;
  width: 179px;
  height: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #150c01;
  display: flex;
  align-items: center;
  justify-content: center;
}
.take__container-button {
  display: flex;
}
.take__button-span {
  display: block;
  margin-left: 8px;
}
.swiper {
  width: 850px;
}
.testimonial__thumb {
  padding-right: 150px;
  padding-top: 147px;
}
.testimonial__label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
  margin-bottom: 12px;
}
.testimonial__title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin-bottom: 23px;
}
.testimonial__paragraf {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
  margin-bottom: 18px;
  padding-left: 195px;
  padding-right: 195px;
}
.testimonial__paragraf-swiper {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  width: 506px;
  text-align: center;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonial__img {
  margin-bottom: 42px;
  border-radius: 100%;
  margin-top: 73px;
  width: 50px;
  height: 50px;
}
.swiper-button-prev:after {
  color: rgba(21, 12, 1, 1);
  font-size: 1rem !important;
  font-weight: bold !important;
}
.swiper-button-next:after {
  color: rgba(21, 12, 1, 1);
  font-size: 1rem !important;
  font-weight: bold !important;
}
.testimonial__container-svg {
  display: flex;
  margin-top: 20.3px;
}
.testimonial__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 6px;
  margin-top: 32.3px;
}
.testimonial__profession {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.7;
}
.contact {
  background: rgba(220, 120, 11, 0.1);
  margin-top: 120px;
  padding-top: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 117px;
}
.contact__paragraf {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 15px;
}
.contact__title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 41px;
  text-align: center;
  color: #150c01;
  width: 749px;
  margin-bottom: 46px;
}
.contact-container-input {
  display: flex;
  background-color: #ffffff;
  width: 750px;
  height: 75px;
  border-radius: 10px;
}
input {
  width: 594px;
  height: 75px;
  padding-left: 32px;
  border-radius: 10px;
  background: #ffffff;
  border: none;
}
::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 41px;
  color: #000000;
  opacity: 0.5;
}
.contact__button {
  width: 156px;
  height: 75px;
  background: #dc780b;
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 41px;
  color: #ffffff;
}
.container_footer {
  padding-left: 150px;
  padding-right: 150px;
  background: rgba(37, 37, 37, 1);
  padding-top: 137px;
  display: flex;
  padding-bottom: 104px;
}
.footer-list-item:first-child {
  margin-bottom: 25px;
}
.footer-list-item {
  margin-bottom: 17px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.7;
  margin-right: 180px;
}
a {
  color: #ffffff;
}
.footer-list-item-c {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 20px;
  margin-right: 180px;
}
.footer-list-item-c:first-child {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 26px;
}
.footer-list-item-c:last-child {
  margin-bottom: 0;
}
.footer-list-item-t:first-child {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 26px;
}
.footer-list-item-t:last-child {
  margin-bottom: 0;
}
.footer-list-item-t {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 20px;
}
.footer-container-svg {
  display: flex;
}
.footer-container-svg > li {
  margin-right: 10px;
}
.footer-container-svg:last-child {
  margin-right: 0px;
}
.footer-list-item-svg {
  position: relative;
  top: 166px;
  right: 100px;
  margin-right: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 21px;
  height: 21px;
}
.footer-list-items-svg {
  display: flex;
}
