<section class="hero" id="home">
    <div class="container">
        <div class="hero__title-thumb">
            <h1 class="hero__title">
                Making time a good time by making food the good food.
                </h1>
                <p class="hero__paragraf"> There are many things are needed to start the Fast Food Business. 
                You need not only Just Food Stalls with Persons but
                also specialized equipment.</p>
                </div>
                </div>
                <button class="hero__button-order">Order Now</button>
                <button class="hero__button-food">Food Details</button>
    </div>
    </section>
                
            