<section class="menu" id="menu">
    <div class="container">
    <p>Menu</p>
    <h3>Food Full of treaty Love</h3>
    <p>There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but
    also specialized equipment, Skills to manage Customers.</p>
    <ul>
    <li>
     <h5>Vegie Muffen</h5> 
     <span>16$</span>
     <p>There are many things are needed to start the Fast Food Business.</p>  
    <button class="menu__button item">+</button>
    </li>  
      
    <li>
    <h5>Salads</h5>
    <span>12$</span>
    <p>There are many things are needed to start the Fast Food Business.</p>
    <button class="menu__button item">+</button>
    </li>
    <li>
    <h5>Salads</h5>
    <span>12$</span>
    <p>There are many things are needed to start the Fast Food Business.</p>
    <button class="menu__button item">+</button>
    </li>

    <li>
        <h5>Burger</h5>
        <span>10$</span>
        <p>There are many things are needed to start the Fast Food Business.</p>
        <button class="menu__button item">+</button>
    </li>

    <li>
        <h5>Delmonico Steak dish</h5>
        <span>14$</span>
        <p>There are many things are needed to start the Fast Food Business.</p>
        <button class="menu__button item">+</button>
    </li>
    <li>
        <h5>Egg Masala</h5>
        <span>9$</span>
        <p>There are many things are needed to start the Fast Food Business.</p>
        <button class="menu__button item">+</button>
    </li>
    <li>
        <h5>Peach Melba dish</h5>
        <span>15$</span>
        <p>There are many things are needed to start the Fast Food Business.</p>
        <button class="menu__button item">+</button>
    </li>

    </ul>
    <button class="menu__button"> Learn More</button>
    </div>
</section>