<section class="testimonial" >
    <div class="container">
        <div class="testimonial__thumb">
            <p class="testimonial__label">Testimonial</p>
                <h2 class="testimonial__title">Making Food great again and again</h2>
                <p class="testimonial__paragraf">You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers, Effective
                Product catlogues etc to make your.</p>
                <div class="swiper">
                    <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <div class="swiper-slide">
                <img class="testimonial__img" src="./img/rbUCqO2zGk 1.jpg">  
                <p class="testimonial__paragraf-swiper">
                    You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers, Effective
                    Product catlogues etc to make your.
                </p>
                <div class="testimonial__container-svg">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                            fill="#DC780B" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                            fill="#DC780B" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                            fill="#DC780B" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                            fill="#DC780B" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                            fill="#EDEDED" />
                    </svg>
                    </div>
                    <p class="testimonial__name">Augusta W. Reynoso</p>
                    <p class="testimonial__profession">UI&UX DeSIGNER</p>
                </div>
                <div class="swiper-slide">
                    <img class="testimonial__img" src="./img/photo_2022-03-06_16-35-26.jpg">
                    <p class="testimonial__paragraf-swiper">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam consectetur, officiis aut inventore voluptatem alias delectus expedita animi. 
                       Aperiam architecto reprehenderit ea! Quisquam dignissimos placeat laborum vitae cupiditate dicta sit?
                    </p>
                    <div class="testimonial__container-svg">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                            fill="#DC780B" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                            fill="#DC780B" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                            fill="#DC780B" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                            fill="#DC780B" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                            fill="#EDEDED" />
                    </svg>
                    </div>
                    <p class="testimonial__name">Evgeny Kiselev</p>
                    <p class="testimonial__profession">professional pirate</p>
                </div>
                    <div class="swiper-slide">
                        <img class="testimonial__img" src="./img/photo_2022-03-26_20-00-43.jpg">
                        <p class="testimonial__paragraf-swiper">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam consectetur, officiis aut inventore voluptatem
                            alias delectus expedita animi.
                            Aperiam architecto reprehenderit ea! Quisquam dignissimos placeat laborum vitae cupiditate dicta sit?
                        </p>
                        <div class="testimonial__container-svg">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                                    fill="#DC780B" />
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                                    fill="#EDEDED" />
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                                    fill="#EDEDED" />
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                                    fill="#EDEDED" />
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 6.18173L10.1863 5.79951L7.99681 0.299011L5.80734 5.79951L0 6.18173L4.45419 9.96379L2.99256 15.701L7.99681 12.5378L13.0011 15.701L11.5395 9.96379L16 6.18173Z"
                                    fill="#EDEDED" />
                            </svg>
                        </div>
                    <p class="testimonial__name">Dmitry Kristya</p>
                    <p class="testimonial__profession">Experienced Anal Pirate</p>
                </div>
                </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>
                </div>
            </div>
        </div>
    </div>
</section>